@font-face {
  font-family: "PP Neue Montreal Regular";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
       url("../public/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'PP Neue Montreal Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.neue-montreal-bold {
  margin: 0;
  font-family: 'PP Neue Montreal Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.the-column {
  position: absolute;
  left: 63%;
  width: 22.7%;
  min-width: 270px;
}
  
/* for Firefox */
@-moz-keyframes homepage-scroll-text {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes homepage-scroll-text {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes homepage-scroll-text {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}