@font-face {
  font-family: "PPNeueMontreal";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
       url("../public/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-style: normal;
  font-weight: bold;
  src: url("../public/fonts/PPNeueMontreal-Bold.woff2") format("woff2"),
       url("../public/fonts/PPNeueMontreal-Bold.woff") format("woff");
}

html { scrollbar-width: none; }
body::-webkit-scrollbar { display: none; }

p { margin:0 }

a {
  text-underline-position: auto;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  text-align: start;
  cursor: pointer;
  outline: inherit;
  text-transform: none;
}

body {
  margin: 0;
  font-family: "PPNeueMontreal";
  font-weight: normal;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: -moz-scrollbars-none;
}

/* for Firefox */
@-moz-keyframes homepage-scroll-text {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes homepage-scroll-text {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes homepage-scroll-text {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.columns-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.column-1 {
  flex: 4;
}

.column-2 {
  flex: 1.55;
  min-width: 275px;
}

.column-3 {
  flex: 0.75;
  min-width: 25px;
}